extends layout

block content
    h1#title= title

    ul#authorList
        li#author1 Patrick Rothfuss
        li#author2 William Shakespeare
        li#author3 Eric Flint
        li#author4 George Orwell

    p
        a#back(href='/') Back
